body{
    background-color: #ECECF6;
    margin: auto;
    padding: 0%;
    width: 80%;
    min-height: 100vh;
}
header{
    background-color: #76555E;
}
h1{
    text-align: center;
    color: wheat;
    font-size: 60px;
    display: block;
    padding: 0px 0px -5px 0px;
}
p{
    text-align: center;
    color: wheat;
    font-size: 20px;
    display: block;
    margin: -20px 0px -10px 0px;
    
}
ul{
    list-style-type: none;
    text-align: center;
    padding-right: 40px;
}
  
.nav{
    display: inline-block;
    font-size: 23px;
    justify-content: space-between;
    padding: 15px;
}
  
a{
    text-decoration: none;
    color: white;
}
img{
    margin: 0px 20px 0px 240px;
    padding: 10px 100px 10px 0px;
}
#about{
    text-align: start;
    font-size: 35px;
    color: #BB8386;
    padding: 10px 0px 0px 0px;
}
.aboutmepara{
    text-align: start;
    font-size:20px;
    color:#9E8580;
    width: 50%;
    padding: 0px 0px 0px 10px;
}
#skills{
    text-align: start;
    font-size: 35px;
    color: #BB8386;
    padding: 10px 0px 0px 0px;
}
.list-skills{
    list-style-type: none;
    display: block;
}
.list-skills{
    display: block;
    font-size:20px;
    color:#9E8580;
    text-align: start;
    padding: 10px;
    ;
}